<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../css/main.css" type="text/css">
  </head>
  <body>
    <div class="headerBar">
      <div class="logoBar reg_logo">
        <div class="comWidth">
          <div class="logo fl">
            <a href="#"><img src="..\img\icon\logo.png" alt="购衣家"></a>
          </div>
          <h3 class="welcome_tit">欢迎注册</h3>
        </div>
      </div>
    </div>

    <div class="regBox">
      <div class="login_cont">
        <ul class="login">
          <li>
            <span class="reg_item"><i>*</i>账户名:</span>
            <input type="text" class="login_input user_icon" name="" value="">
          </li>
          <li>
            <input type="text" class="login_input  pwd_icon" name="" value="">
          </li>
          <li class="autoLogin">
            <input type="checkbox" class="checked" name="" id='a1' value="">
            <label for="a1" >我统一XXX条款</label>
          </li>
          <li>
            <input type="button" class="login_btn" name="" value="提交">
          </li>
        </ul>
        <div class="login_partnes">
          <p>使用合作方账号登录网站</p>
          <ul class="login_list">
            <li>
              <a href="#">QQ</a>
            </li>
            <li><span>|</span></li>
            <li>
              <a href="#">微信</a>
            </li>
            <li><span>|</span></li>
            <li>
              <a href="#">微博</a>
            </li>
            <li><span>|</span></li>
            <li>
              <a href="#">网易</a>
            </li>
            <li><span>|</span></li>
          </ul>
        </div>
      </div>
      <a href="#" class="login_link">免费注册&gt;&gt;</a>
    </div>






    <!-- 底部 -->
    <div class="footer">
      <p>
        <a href="#">购衣家简介</a><span>|</span>
        <a href="#">公告</a><span>|</span>
        <a href="#">招贤纳士</a><span>|</span>
        <a href="#">联系我们</a><span>|</span>
        <a href="#">热线客服:400-765-456</a>
      </p>
      <p>
        &copy; (c) 2016 Copyright Holder All Rights Reserved.
        &nbsp;&nbsp;&nbsp;
        京ICP备09089997号
        &nbsp;&nbsp;&nbsp;
        京ICP证B1078-6788号
        &nbsp;&nbsp;&nbsp;
        某市公安局XX分局备案编号
      </p>
      <p class="web">
        <a href="#">
          <img src="../../img/icon/logo_web.png" alt="">
         </a>
        <a href="#">
          <img src="../../img/icon/logo_web.png" alt="">
        </a>
        <a href="#">
          <img src="../../img/icon/logo_web.png" alt="">
        </a>
      </p>
    </div>
  </body>
</html>
