<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../css/main.css" type="text/css">
  </head>
  <body>
    <div class="headerBar">
      <div class="topBar">
        <div class="comWidth">
          <div class="leftArea">
            <a href="#" class="collection">收藏购衣家</a>
          </div>
          <div class="rightArea">
            欢迎来到购衣家
            <a href="#">[登录]</a>
            <a href="#">[免费注册]</a>
          </div>
        </div>
      </div>
      <div class="logoBar">
        <div class="comWidth">
          <div class="logo fl">
            <a href="#"><img src="..\img\icon\logo.png" alt="购衣家"></a>
          </div>

          <div class="stepBox fr">
            <!-- TODO 进度条 -->
            <div class="step">

            </div>
            <ul class="step_text">
              <li class="finished">我的购物车</li>
              <li class="finished">填写核对订单</li>
              <li>订单提交成功</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="shoppingCart comWidth">
      <div class="shopping_item">
        <h3 class="shopping_tit">收货地址</h3>
        <div class="shopping_cont padding_shop">
          <ul class="shopping_list">
            <li>
              <em>*</em>
              <span>选择地区：</span>
              <input type="text" name="" value="" placeholder="">
            </li>
            <li>
              <em>*</em>
              <span>详细地址：</span>
              <input type="text" name="" value="" placeholder="最多输入20个汉字">
            </li>
            <li>
              <em>*</em>
              <span>收货人：</span>
              <input type="text" name="" value="" placeholder="最多输入10个汉字">
            </li>
            <li>
              <em>*</em>
              <span>手机：</span>
              <input type="text" name="" value="" placeholder="如1233444">
              <span>或固定电话</span>
              <input type="text" name="" value="" placeholder="区号">
              <dd>-<dd>
              <input type="text" name="" value="" placeholder="电话号码">
              <dd>-<dd>
              <input type="text" name="" value="" placeholder="分机号（可选）">
            </li>

            <li>
              <div class="confirm_btn">
                <span>确认收货地址<span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="hr_15"></div>

      <div class="shopping_item">
        <h3 class="shopping_tit">支付方式</h3>
        <div class="shopping_cont padding_shop">
          <ul class="shopping_list">
            <li>
              <input type="radio" class="radio" name="" value="" id="pay1">
              <label for="pay1">微信支付</label>
              <span>的覅哦覅u发货环节和发货微信</span>
            </li>
            <li>
              <input type="radio" class="radio" name="" value="" id="pay2">
              <label for="pay2">微信支付</label>
              <span>的覅哦覅u发货环节和发货微信</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="hr_15"></div>
      <!-- TODO -->
      <div class="hr_15"></div>
      <!--  TODO-->
      <div class="shopping_item">
        <h3 class="shopping_tit">送货清单
          <a href="#" class="backCar">返回购物车修改</a>
        </h3>
        <div class="shopping_cont">
          <div class="cart_inner">
            <div class="cart_head clearfix">
              <div class="cart_item ">商品名称</div>
              <div class="cart_item">单价</div>
              <div class="cart_item">返现</div>
              <div class="cart_item">数量</div>
              <div class="cart_item">小计</div>
            </div>
            <div class="cart_cont clearfix">
              <div class="cart_item ">

              </div>
              <div class="cart_item">

              </div>
              <div class="cart_item">

              </div>
              <div class="cart_item">

              </div>
              <div class="cart_item">

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="shopping_item">
        <h3 class="shopping_tit">送货清单  </h3>
        <div class="shopping_cont padding_shop clearfix">
          <div class="cart_count fr">
            <div class="cart_amount">
              <span>总计<em>￥1459.00</em></span>
            </div>
            <div class="cart_bntBox">
              <input type="button" class="cart_submit"name="" value="提交订单">
            </div>
          </div>
        </div>
      </div>

    </div>




    <!-- 底部 -->
    <div class="footer">
      <p>
        <a href="#">购衣家简介</a><span>|</span>
        <a href="#">公告</a><span>|</span>
        <a href="#">招贤纳士</a><span>|</span>
        <a href="#">联系我们</a><span>|</span>
        <a href="#">热线客服:400-765-456</a>
      </p>
      <p>
        &copy; (c) 2016 Copyright Holder All Rights Reserved.
        &nbsp;&nbsp;&nbsp;
        京ICP备09089997号
        &nbsp;&nbsp;&nbsp;
        京ICP证B1078-6788号
        &nbsp;&nbsp;&nbsp;
        某市公安局XX分局备案编号
      </p>
      <p class="web">
        <a href="#">
          <img src="../../img/icon/logo_web.png" alt="">
         </a>
        <a href="#">
          <img src="../../img/icon/logo_web.png" alt="">
        </a>
        <a href="#">
          <img src="../../img/icon/logo_web.png" alt="">
        </a>
      </p>
    </div>
  </body>
</html>
